<%- include("header_logged_out"); -%>

<div class="container d-flex justify-content-center">
  <div class="row align-items-center">
    <div class="col-md-12">
      <a href="/">
        <img
          src="https://images.baklol.com/12_jpeg712f0251a5c20ea2780c857492de3ed2.jpeg"
          alt="Error Image"
        />
      </a>
    </div>
  </div>
</div>

<%- include("footer"); -%>
